{% load static %}
<html>
    <head>
        <title>Air tickets</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/system.css' %}">

    </head>
    <body b>
        <div>
            <h1><a href="/">Air Tickets search system</a></h1>
        </div>
        {% if user.is_authenticated %}
        <h3><a href="/admin"> account</a></h3>
        {% endif %}
        <h2><a href="/b"> Bought tickets</a></h2>


        <h1></h1>

    </body>


