     <head>
          <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

         <style>
        .title{
        font-size:70px;
        text-align:center;
        margin-top:20px;
        }
.form{
    font-size:20px;
    margin-left:30%;
    margin-right:30%;
    margin-top:9%;
    margin-bottom:15%;
    background:white;
    color:#191970;
    padding-left:70px;
    }
        </style>
    </head>
<body>
        <div class="title">
        <a href="/" style="color: #000080">Air Tickets search system</a>
    </div>

        <div class="form">
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>
        </div>

