{% load static %}
<head>
        <title>Air tickets</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/system.css' %}">

    </head>
            <h1><a href="/">Air Tickets search system</a></h1>
{% block content %}
    <div class="flight">
       <h2> <p> Aviacompany: {{flight.aviacompany}}</p>
        <p>Departure city: {{flight.departure_city}}</p>
        <p>Arrival city: {{flight.arrival_city}}</p>
        <p>Departure date: {{flight.departure_date}}</p>
        <p>Arrival date: {{flight.arrival_date}}</p>
        <p> Price: {{ flight.price}}</p></h2>

    </div>
{% endblock %}