{% load static %}
<html>
    <head>
        <title>Air tickets</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/system.css' %}">

    </head>
    <body b>
        <div>
            <h1><a href="/">Air Tickets search system</a></h1>
        </div>
        {% if user.is_authenticated %}
        <h3><a href="/admin"> account</a></h3>
        {% endif %}
        <h2><a href="/b"> Bought tickets</a></h2>
        <form method="POST"  actions="/">{% csrf_token %}
        {{form.as_p}}
        <input type="Submit" name="Submit" value="Submit"/>
        </form>

        <p><a href="/d">Sort by date |</a><a href="/p"> Sort by price | </a></b></p>


        {% for flight in flights %}
            <div>
                <p> Aviacompany: {{flight.aviacompany}}</p>
                <p>Departure city: {{flight.departure_city}}</p>
                <p>Arrival city: {{flight.arrival_city}}</p>
                <p>Departure date: {{flight.departure_date}}</p>
                <h4> <p> Price: {{ flight.price}} Br</p></h4>
                <p><a href="{% url 'flight_detail' fl=flight.id %}">Buy</a></p>
                <p>________________________________
                </p></b>
            </div>
        {% endfor %}




    </body>
</html>