
<head>
        <title>Air tickets</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<style>

        p{
        font-size:40px;
        text-align:center;
        margin-top:20px;
        }
        </style>
    </head>
<body>
        <div class="title">
        <a href="/" style="color: #000080">Air Tickets search system</a>
    </div>
    <p>You have been successfully signed in</p>
</body>